<template>
  <div class="page-container md-layout-column">
    <navigation></navigation>

    <md-content>
      <h1 class="md-headline">Playdate - Elternratgeber für Unternehmungen mit Kind</h1>
      
      <p class="md-body-1">Etwas mit den eigenen Kindern zu unternehmen ist super. Noch mehr Spaß macht es zusammen mit anderen Eltern und ihren Kindern. Doch wer hat spontan Zeit? Was könnte man tun?</p>
      <p>Wir verbinden und inspirieren Eltern, die etwas mit ihren Kindern unternehmen wollen.
      <ul class="md-body-1">
          <li>Ob kurzfristig oder langfristig, Playdates finden ist jetzt ganz einfach! Schau nach, wann deine befreundeten Eltern Zeit haben, was sie vorschlagen oder du schlägst ganz einfach selbst was vor! So kannst du auch gemeinsame Ausflüge oder Urlaube planen.</li>
          <li>Ob Ideen für Playdates, kinderfreundliche Restaurants, Ausflugsziele oder Urlaube, sammle gute Empfehlungen deiner Freunde, so hast du immer viele Ideen, um mal was Neues auszuprobieren.</li>
      </ul>
      <p class="md-body-2">Playdate ist eine App von Eltern für Eltern.</p>
      
      <md-snackbar :md-position="position" :md-active.sync="showSnackbar" md-persistent>
        <span>v0.1 2020 &copy; Sepp, Eve und Lenni</span>
      </md-snackbar>
    </md-content>
  </div>
</template>

<script>
import firebase from "firebase";
import navigation from "@/components/NavBar.vue";
import Vue from 'vue'
import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/black-green-light.css'

Vue.use(VueMaterial)
Vue.use(require('vue-moment'));

var today_datetime = new Date();
today_datetime.setHours(0,0,0,0);

export default {
    data() {
        return {
            position: "center",
            showSnackbar: true,
        };
    },
    methods:{
        
    },
    created() {
    },
    components: {
        navigation
    }
  };
</script>

<style>
.collection.with-header {
    max-width: 500px;
    margin: 0 auto;
}
.page-container {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(#000, .12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

</style>