<template>
    <section>
        <navigation></navigation>
        <h5 class="center-align">Aktivitäten</h5>
        <ul class="collection with-header">
            <li class="collection-header">
                <div class="row">
                    <div class="input-field col s10">
                      <textarea id="new_activity" class="materialize-textarea" v-model="activity.title"></textarea>
                      <label for="new_activity">Was machst du?</label>
                    </div>
                    <div>
                      <input id="new_activity_date" type="date" class="datepicker" v-model="activity.happeningDate" />
                    </div>
                    <div class="input-field col s2">
                        <button class="btn" @click="addActivity">Eintragen</button>
                    </div>
                </div>
            </li>
        </ul>
        <h5 class="center-align">Heute</h5>
        <ul class="collection with-header">
            <li class="collection-item" v-for="activity in activities_today" :key="activity.id">
                <b>{{activity.title}}</b> von {{activity.user.name}} <img
                    :src="activity.user.photoUrl"
                    style="width:75px;height:75px;border-radius:50%;border:4px solid #333"
                />
                <!--<span class="deleteIcon" @click="deleteActivity(activity.id)">✕</span>-->
            </li>
        </ul>
        <h5 class="center-align">Später</h5>
        <ul class="collection with-header">
            <li class="collection-item" v-for="activity in activities" :key="activity.id">
                <small>{{activity.happeningDate}}</small> <b>{{activity.title}}</b> von {{activity.user.name}} <img
                    :src="activity.user.photoUrl"
                    style="width:75px;height:75px;border-radius:50%;border:4px solid #333"
                />
                <!--<span class="deleteIcon" @click="deleteActivity(activity.id)">✕</span>-->
            </li>
        </ul>
        <!--https://softauthor.com/firestore-crud-app-vuejs-authentication and https://softauthor.com/firebaseui-vue-login-with-facebook-google-and-email-pasword-->
    </section>
</template>

<script>
import firebase from "firebase";
import navigation from "@/components/NavBar.vue";

var today_datetime = new Date();
var today = new Date(today_datetime.getTime() - (today_datetime.getTimezoneOffset() * 60000 ))
            .toISOString()
            .split("T")[0];

export default {
    data() {
        return {
            activities_today: [],
            activities: [],
            activity: {
                title: "",
                happeningDate: today,
                user: {
                  name: "",
                  photoUrl: "",
                  id: "",
                },
            }
        };
    },
    methods:{
        addActivity() {
            firebase
                .firestore()
                .collection("activities")
                .add({
                    title: this.activity.title,
                    happeningDate: this.activity.happeningDate,
                    createdDate: new Date(),
                    user: {
                      id: firebase.auth().currentUser.uid,
                      name: firebase.auth().currentUser.displayName,
                      photoUrl: firebase.auth().currentUser.photoURL
                    }
                })
                
            this.activity.title = "";
            this.activity.happeningDate = today;
        },
        isSameDay(_date1, _date2){
          var date1 = new Date(_date1);
          var date2 = new Date(_date2);
          return date1.getFullYear() === date2.getFullYear() &&
            date1.getMonth() === date2.getMonth() &&
            date1.getDay() === date2.getDay()
        },
        async getActivities_today() {
            var activitiesRef = await firebase
                .firestore()
                .collection("activities");
            activitiesRef.onSnapshot(snap => {
                this.activities = [];
                snap.forEach(doc => {
                    var activity = doc.data();
                    activity.id = doc.id;
                    if (this.isSameDay(activity.happeningDate, new Date())) {
                      this.activities_today.push(activity);
                    }
                });
            });
        },
        async getActivities() {
            var activitiesRef = await firebase
                .firestore()
                .collection("activities");
            activitiesRef.onSnapshot(snap => {
                this.activities = [];
                snap.forEach(doc => {
                    var activity = doc.data();
                    activity.id = doc.id;
                    if (!this.isSameDay(activity.happeningDate, new Date())) {
                        this.activities.push(activity);
                    }
                });
            });
        },
        deleteActivity(docId) {
            firebase
                .firestore()
                .collection("activities")
                .doc(docId)
                .delete();
        }
    },
    created() {
        this.getActivities_today();
        this.getActivities();
    },
    components: {
        navigation
    }
  };
</script>

<style>
.collection.with-header {
    max-width: 500px;
    margin: 0 auto;
}
.deleteIcon {
    margin-right: 10px;
    cursor: pointer;
}
.deleteIcon:hover {
    opacity: 0.5;
}
</style>