<template>
  <div class="page-container md-layout-column">
    <navigation></navigation>

    <md-content>
      <h1>Elternfreunde</h1>
      <p class="md-caption">Hier entscheidest du, wer Deine Playdate-Vorschläge sehen soll und über wen du informiert werden willst. Denn nur befreundete Eltern können die Einträge von einander sehen. So sind alle Vorschläge relevant und Deine Privatsphäre bleibt gewahrt.</p>

      <h2>Offene Anfragen</h2>
      <h3>An mich</h3>
      <p v-if="friendRequests.length" class="md-caption">Folgende Eltern wollen sich mit dir befreunden. Klicke, um der Anfrage zuzustimmen!</p>
      <ul>
        <li v-for="req in friendRequests" :key="req.id">
          {{req.userB.name}}<md-button @click="confirmFriendRequest(req.id, req.userB.id, req.userB.name, req.userB.photoUrl)" class="md-dense md-accent"><md-icon>thumb_up_alt</md-icon></md-button>
        </li>
      </ul>
      <p class="md-caption">Schaue von Zeit zu Zeit hier vorbei, ob du neue Anfragen erhalten hast.</p>
      <h3 v-if="friendRequestsOpen.length">Von mir versandt</h3>
      <ul>
        <li v-for="req in friendRequestsOpen" :key="req.id">
          {{req.userA.name}}<md-button @click="deleteFriendRequest(req.id)" class="md-dense md-accent"><md-icon>delete_forever</md-icon></md-button>
        </li>
      </ul>

      <h2>Deine Elternfreunde</h2>
      <p class="md-caption">Hier siehst du, mit wem du befreundet bist.</p>
      <p v-if="!friends.length" class="md-caption">Keine Freunde :-( Du bist noch mit niemandem befreundet. Daher siehst du noch keine Aktivitäten. Suche befreundete Eltern unten in der Liste.</p>

      <ul>
        <li v-for="friend in friends" :key="friend.id">{{friend.name}}</li>
      </ul>

      <h2>Eltern befreunden</h2>
      <p class="md-caption">Klicke auf die Box, um eine Freundschaftsanfrage zu schicken.</p>
      <ul>
        <li v-for="potFriend in potentialFriends" v-if="potFriend.id !== ownId && !user.friendIds.includes(potFriend.id)" :key="potFriend.id">{{potFriend.name}}
        <md-button @click="sendFriendRequest(potFriend.id, potFriend.name, potFriend.photoUrl)" class="md-dense md-accent"><md-icon>check_box_outline_blank</md-icon></md-button></li>
      </ul>

      <p class="md-subheading">Deine Freunde sind nicht dabei? Schicke ihnen diesen Link: <code>https://kindrr.de</code></p>

      <md-snackbar :md-position="position" :md-active.sync="showSnackbar" :md-duration="4000">
        <span>{{snackbarMessage}}</span>
        <md-button class="md-accent" @click="showSnackbar = false">Ok</md-button>
      </md-snackbar>
    </md-content>
  </div>
</template>

<script>
import firebase from "firebase";
import navigation from "@/components/NavBar.vue";
import Vue from 'vue'
import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/black-green-light.css'

Vue.use(VueMaterial);
Vue.use(require('vue-moment'));

const today_datetime = new Date();
today_datetime.setHours(0,0,0,0);

export default {
    data() {
        return {
            user: null,
            potentialFriends: [],
            friends: [],
            friendRequests: [],
            friendRequestsOpen: [],
            position: "center",
            showSnackbar: false,
            snackbarMessage: "",
            ownName: firebase.auth().currentUser.displayName,
            ownId: firebase.auth().currentUser.uid,
        };
    },
    methods:{
        getUser() {
          const userRef = firebase.firestore().collection("users")
          .doc(firebase.auth().currentUser.uid);
          userRef.get().then(doc => {
                if (doc.exists) {
                    this.user = doc.data();
                    this.friends = this.user.friends;
                    this.user.friendIds = this.friends.map(x => x.id);
                    console.log("Document data:", doc.data());
                    console.log("User:", this.user);
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document!");
                }
            }).catch(function(error) {
                console.log("Error getting document:", error);
            });
        },
        async loadPotentialFriends() {
          const usersRef = await firebase.firestore().collection("users")
          .orderBy("name");
          // exclude user itself
            usersRef.onSnapshot(snap => {
                this.potentialFriends = [];
                snap.forEach(doc => {
                  const user = doc.data();
                  this.potentialFriends.push(user);
                });
            });
        },
        async getFriendRequests() {
          const friendRequestsRef = await firebase.firestore().collection("friendRequests")
          .where("userA.id", "==", firebase.auth().currentUser.uid);
          friendRequestsRef.onSnapshot(snap => {
                this.friendRequests = [];
                snap.forEach(doc => {
                  const friendRequest = doc.data();
                  friendRequest.id = doc.id;
                    this.friendRequests.push(friendRequest);
                });
            });
        },
        async getFriendRequestsOpen() {
          const friendRequestsOpenRef = await firebase.firestore().collection("friendRequests")
          .where("userB.id", "==", firebase.auth().currentUser.uid);
          friendRequestsOpenRef.onSnapshot(snap => {
                this.friendRequestsOpen = [];
                snap.forEach(doc => {
                  const friendRequest = doc.data();
                  friendRequest.id = doc.id;
                    this.friendRequestsOpen.push(friendRequest);
                });
                console.log(this.friendRequests);
            });
        },
        sendFriendRequest(friendId, friendName, friendPhotoUrl) {
          this.potentialFriends.splice(this.potentialFriends.findIndex(frield => frield.id === friendId), 1);
          firebase.firestore().collection("friendRequests")
              .add({
                  userA: {
                    id: friendId,
                    name: friendName,
                    photoUrl: friendPhotoUrl,
                  },
                  userB: {
                    id: firebase.auth().currentUser.uid,
                    name: firebase.auth().currentUser.displayName,
                    photoUrl: firebase.auth().currentUser.photoURL,
                  }
              })
              .then(docRef => {
                  this.showSnackbar = true;
                  this.snackbarMessage = "Anfrage gesendet";
                  console.log("Document written with ID: ", docRef.id);
              })
              .catch(error => {
                  this.showSnackbar = true;
                  this.snackbarMessage = "Fehler beim Anlegen: " + error;
                  console.error("Error adding document: ", error);
              });
        },
        confirmFriendRequest(docId, friendId, friendName, friendPhotoUrl) {
          const friend = {
            id: friendId,
            name: friendName,
            photoUrl: friendPhotoUrl,
          };
          firebase.firestore().collection("users")
              .doc(firebase.auth().currentUser.uid)
              .update({
                  friends: firebase.firestore.FieldValue.arrayUnion(friend)
              })
              .then(function() {
                  console.log("Document successfully updated!");
              })
              .catch(function(error) {
                  // The document probably doesn't exist.
                  console.error("Error updating document: ", error);
              });
          const myself = {
            id: firebase.auth().currentUser.uid,
            name: firebase.auth().currentUser.displayName,
            photoUrl: firebase.auth().currentUser.photoURL,
          };
          firebase.firestore().collection("users")
              .doc(friendId)
              .update({
                    friends: firebase.firestore.FieldValue.arrayUnion(myself)
              })
              .then(function() {
                  console.log("Document successfully updated!");
              })
              .catch(function(error) {
                  // The document probably doesn't exist.
                  console.error("Error updating document: ", error);
              });
          firebase.firestore().collection("friendRequests")
          .doc(docId)
          .delete()
          .then(function () {
            console.log("Document successfully deleted!");
          }).catch(function (error) {
            console.error("Error removing document: ", error);
          });
        },
        deleteFriendRequest(docId) {
          firebase.firestore().collection("friendRequests")
          .doc(docId)
          .delete().then(() => {
            this.showSnackbar = true;
            this.snackbarMessage = "Erfolgreich gelöscht";
            this.loadPotentialFriends();
            console.log("Document successfully deleted!");
          }).catch(error => {
            this.showSnackbar = true;
            this.snackbarMessage = "Fehler beim Eintragen: " + error;
            console.error("Error removing document: ", error);
          });
        },
    },
    created() {
        this.getUser();
        this.loadPotentialFriends();
        this.getFriendRequests();
        this.getFriendRequestsOpen();
    },
    components: {
        navigation
    }
  };
</script>

<style>
.collection.with-header {
    max-width: 500px;
    margin: 0 auto;
}
.page-container {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0,0,0, .12);
}

/* Demo purposes only */
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.md-content {
  padding: 16px;
}
.md-card-content {
  padding: 1px;
}
.md-card-content:last-of-type {
  padding-bottom:0;
}
.md-button {
  vertical-align: baseline;
}
</style>
