<template>
  <div class="page-container md-layout-column">
    <navigation></navigation>

    <md-content>
        <!--<h3 class="md-title center-align">Playdates</h3>-->
        <!--<p class="md-caption">Was machen deine Freunde. Wo könnt ihr dabei sein.</p>-->
        <md-card-content>
            <p @click="showDialog = true" class="md-subheading">Neues Playdate eintragen <md-button class="md-accent md-raised" @click="showDialog = true"><md-icon>add</md-icon></md-button></p>
        </md-card-content>
      
        <md-dialog :md-active.sync="showDialog">
          <md-dialog-title>Schlage ein Playdate vor</md-dialog-title>

          <form novalidate class="md-layout md-alignment-top-center" @submit.prevent="validateUser">
              <md-field class="md-layout-item md-small-size-90">
                <label for="new_activity">Wohin geht es?</label>
                <md-input id="new_activity" v-model="activity.title" value=""></md-input>
                <span class="md-helper-text">Beispiel: Spielplatz an der Parkheide</span>
              </md-field>
              <md-field class="md-layout-item md-small-size-90">
                <label for="happeningDate">Tag</label>
                <md-datepicker id="happeningDate" v-model="activity.happeningDate" md-immediately readonly></md-datepicker>
              </md-field>
              <md-field class="md-layout-item md-small-size-90">
                <label for="happeningTime">Zeit</label>
                <md-select v-model="activity.happeningTime" id="happeningTime">
                  <md-option value="null" selected="selected">egal</md-option>
                  <md-option value="vormittags">vormittags</md-option>
                  <md-option value="nachmittags">nachmittags</md-option>
                </md-select>
              </md-field>
              <md-field class="md-layout-item md-small-size-90">
                <label for="details">Details</label>
                <md-textarea name="details" v-model="activity.details" md-autogrow></md-textarea>
              </md-field>

              <!--<md-progress-bar md-mode="indeterminate" v-if="sending" />-->
          </form>
    
          <md-dialog-actions>
            <md-button class="md-accent md-raised" @click="addActivity">Eintragen</md-button>
            <md-button class="md-primary" @click="showDialog = false">Abbrechen</md-button>
          </md-dialog-actions>
      </md-dialog>

      <div v-if="!friends.length">
        <h3>Keine Freunde :-(</h3>
        <p>Du bist noch mit niemandem befreundet. Daher siehst du noch keine Aktivitäten. <a class="md-accent" href="/friends">Finde jetzt Freunde!</a></p>
      </div>
      
      <h3 class="md-title center-align">Heute</h3>
      <p v-if="!activities_today.length">Nichts zu sehen für den heutigen Tag? Keine Freunde oder einfach nichts los!? <a class="md-accent" href="/friends">Finde Freunde</a> oder trag etwas oben ein.</p>
      <div class="row" v-for="activity in activities_today" :key="activity.id">
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <div class="md-body-2">{{activity.title}}</div>
              <div class="md-subhead">{{activity.happeningTime}}</div>
              <div v-if="activity.interests" class="md-caption">{{activity.interests.length}} wollen dabei sein (<span v-for="i in activity.interests">{{i.name}}, </span>)</div>
            </md-card-header-text>

            <md-card-media>
              <md-avatar>
              <img :src="activity.user.photoUrl" class="md-avatar-icon" />
            </md-avatar><br />
            <small>{{activity.user.name}}</small>
            </md-card-media>
          </md-card-header>

          <md-card-content v-show="showDetails">
            <p v-if="activity.details" class="md-caption">{{activity.details}}</p>
          </md-card-content>
          
          <md-card-actions>
            <!--<md-button><md-icon>check_circle</md-icon></md-button>
            <md-button><md-icon>highlight_off</md-icon></md-button>
            <md-button><md-icon>calendar_today</md-icon></md-button>-->
            <md-button v-if="activity.details" class="md-dense" v-on:click="showDetails = ! showDetails">Details</md-button>
            <md-button v-if="activity.user.id == uid" @click="deleteActivity(activity.id)"><md-icon>delete_forever</md-icon></md-button>
            <md-button v-if="activity.user.id !== uid" @click="markAsInterested(activity.id)"><md-icon>person_add</md-icon></md-button>
          </md-card-actions>
        </md-card>
      </div>
      
      <h3 class="md-title center-align">In den nächsten Tagen</h3>
      <p v-if="!activities.length">Nichts zu sehen? Keine Freunde oder einfach nichts los!? <a class="md-accent" href="/friends">Finde Freunde</a> oder trag etwas oben ein.</p>
      <div class="row" v-for="activity in activities" :key="activity.id">
        <md-card>
          <md-card-header>
            <md-card-header-text>
              <div class="md-body-2">{{activity.title}}</div>
              <div class="md-subhead">{{ activity.happeningDate.toDate() | moment("ddd, DD.MMM") }}, {{activity.happeningTime}}</div>
              <div v-if="activity.interests" class="md-caption">{{activity.interests.length}} wollen dabei sein (<span v-for="i in activity.interests">{{i.name}}, </span>)</div>
            </md-card-header-text>
    
            <md-card-media>
              <md-avatar>
              <img :src="activity.user.photoUrl" class="md-avatar-icon" />
            </md-avatar><br />
            <small>{{activity.user.name}}</small>
            </md-card-media>
          </md-card-header>
    
          <md-card-content v-show="showDetails">
            <p v-if="activity.details" class="md-caption">{{activity.details}}</p>
          </md-card-content>
          
          <md-card-actions>
            <!--<md-button><md-icon>emoji_people</md-icon></md-button>
            <md-button><md-icon>not_interested</md-icon></md-button>
            <md-button><md-icon>calendar_today</md-icon></md-button>-->
            <md-button v-if="activity.details" class="md-dense" v-on:click="showDetails = ! showDetails">Details</md-button>
            <md-button v-if="activity.user.id == uid" @click="deleteActivity(activity.id)"><md-icon>delete_forever</md-icon></md-button>
            <md-button v-if="activity.user.id !== uid" @click="markAsInterested(activity.id)"><md-icon>person_add</md-icon></md-button>
          </md-card-actions>
        </md-card>
      </div>
      <p class="md-caption">Etwas mit dem Kind unternehmen ist super. Noch mehr Spaß macht es gemeinsam. Schreib hier und Freunde können mitkommen.</p>
      <p>2020 &copy; Sepp, Eve und Lenni</p>
      <md-snackbar :md-position="position" :md-active.sync="showSnackbar" :md-duration="4000">
        <span>{{snackbarMessage}}</span>
        <md-button class="md-accent" @click="showSnackbar = false">Ok</md-button>
      </md-snackbar>
    </md-content>
  </div>
</template>

<script>
import firebase from "firebase";
import navigation from "@/components/NavBar.vue";
import Vue from 'vue'
import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
import 'vue-material/dist/theme/black-green-light.css'

Vue.use(VueMaterial);
Vue.use(require('vue-moment'));

const today_datetime = new Date();
today_datetime.setHours(0,0,0,0);

export default {
    data() {
        return {
            user: null,
            activities_today: [],
            activities: [],
            activity: {
                title: "",
                details: "",
                happeningDate: today_datetime,
                happeningTime: 'nachmittags',
                user: {
                  name: "",
                  photoUrl: "",
                  id: "",
                },
            },
            position: "center",
            showSnackbar: false,
            snackbarMessage: "",
            uid: firebase.auth().currentUser.uid,
            friends: [],
            formShowDetails: false,
            showDetails: false,
            showDialog: false,
        };
    },
    methods:{
        async getUser() {
            const userRef = await firebase.firestore().collection("users")
            .doc(firebase.auth().currentUser.uid);
            userRef.get().then(doc => {
                if (doc.exists) {
                    console.log("Document data:", doc.data());
                    this.user = doc.data();
                    this.friends = this.user.friends;
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document!");
                }
            }).catch(function(error) {
                console.log("Error getting document:", error);
            });
        },
        addActivity() {
            this.showDialog = false;
            firebase
                .firestore()
                .collection("activities")
                .add({
                    title: this.activity.title,
                    details: this.activity.details,
                    happeningDate: new Date(this.activity.happeningDate),
                    happeningTime: this.activity.happeningTime,
                    createdDate: new Date(),
                    user: {
                      id: firebase.auth().currentUser.uid,
                      name: firebase.auth().currentUser.displayName,
                      photoUrl: firebase.auth().currentUser.photoURL
                    },
                    interests: []
                })
                .then(docRef => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Eintrag angelegt";
                    console.log("Document written with ID: ", docRef.id);
                })
                .catch(error => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Fehler beim Eintragen: " + error;
                    console.error("Error adding document: ", error);
                });
                
            this.activity.title = "";
            this.activity.details = "";
            this.activity.happeningDate = today_datetime;
            this.activity.happeningTime = null;
        },
        async getActivities_today() {
            var user = null;
            const userRef = await firebase.firestore().collection("users")
            .doc(firebase.auth().currentUser.uid);
            userRef.get().then(doc => {
                if (doc.exists) {
                    console.log("Document data:", doc.data());
                    user = doc.data();
                    if (user.friends == []) {
                      console.log("no friends");
                      this.showSnackbar = true;
                      this.snackbarMessage = "Noch keine Freunde! :-(" ;
                    } else {
                        var friendIds = user.friends.map(x => x.id).concat([firebase.auth().currentUser.uid]);
                        console.log(friendIds);
                        var activitiesRef = firebase.firestore().collection("activities")
                            .where("happeningDate", "==", today_datetime)
                            .where("user.id", "in", friendIds)
                            .orderBy("happeningTime")
                            .limit(20);
                        activitiesRef.onSnapshot(snap => {
                            this.activities_today = [];
                            snap.forEach(doc => {
                                var activity = doc.data();
                                activity.id = doc.id;
                                this.activities_today.push(activity);
                            });
                            //console.log(this.activities_today);
                        });
                    }                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document!");
                }
            }).catch(function(error) {
                console.log("Error getting document:", error);
            });
            
        },
        async getActivities() {
            var user = null;
            const userRef = firebase.firestore().collection("users")
            .doc(firebase.auth().currentUser.uid);
            userRef.get().then(doc => {
                if (doc.exists) {
                    //console.log("Document data:", doc.data());
                    user = doc.data();
                    if (user.friends == []) {
                        console.log("no friends");
                        this.showSnackbar = true;
                        this.snackbarMessage = "Noch keine Freunde! :-(" ;
                    } else {
                        var friendIds = user.friends.map(x => x.id).concat([firebase.auth().currentUser.uid]);
                        console.log(friendIds);
                        var activitiesRef = firebase.firestore().collection("activities")
                            .where("happeningDate", ">", today_datetime)
                            .where("user.id", "in", friendIds)
                            .orderBy("happeningDate").orderBy("happeningTime")
                            .limit(50);
                        activitiesRef.onSnapshot(snap => {
                              this.activities = [];
                              snap.forEach(doc => {
                                  var activity = doc.data();
                                  activity.id = doc.id;
                                  this.activities.push(activity);
                              });
                              //console.log(this.activities);
                        });
                    }
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No such document!");
                }
            }).catch(function(error) {
                console.log("Error getting document:", error);
            });
        },
        deleteActivity(docId) {
            var item = firebase.firestore().collection("activities")
                .doc(docId)
                .delete().then(() => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Erfolgreich gelöscht";
                    console.log("Document successfully deleted!");
                }).catch(error => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Fehler beim Eintragen: " + error;
                    console.error("Error removing document: ", error);
                });
        },
        markAsInterested(docId) {
            var newInterest = {
                id: firebase.auth().currentUser.uid,
                name: firebase.auth().currentUser.displayName,
                photoUrl: firebase.auth().currentUser.photoURL
            };
            var item = firebase.firestore().collection("activities")
                .doc(docId)
                .update({
                    "interests": firebase.firestore.FieldValue.arrayUnion(newInterest)
                }).then(function() {
                    console.log("Document successfully updated!");
                })
                .catch(function(error) {
                    // The document probably doesn't exist.
                    console.error("Error updating document: ", error);
                });
        },
    },
    created() {
        this.getUser();
        this.getActivities_today();
        this.getActivities();
    },
    components: {
        navigation
    }
  };
</script>

<style>
.collection.with-header {
    max-width: 500px;
    margin: 0 auto;
}
.page-container {
  min-height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(0,0,0, .12);
}

/* Demo purposes only */
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.md-content {
  padding: 16px;
}
.md-card-content {
  padding: 1px;
}
.md-card-content:last-of-type {
  padding-bottom:0;
}
.md-button {
  vertical-align: baseline;
}
</style>