<template>
    <div class="page-container md-layout-column">
        <navigation></navigation>
        <section id="firebaseui-auth-container"></section>
        <md-content>
          <h1 class="md-headline">Kindrr - Elternratgeber für Unternehmungen mit Kind</h1>
          
          <p class="md-body-1">Etwas mit den eigenen Kindern zu unternehmen ist super. Noch mehr Spaß macht es zusammen mit anderen Eltern und ihren Kindern. Doch wer hat spontan Zeit? Was könnte man tun?</p>
          <p>Wir verbinden und inspirieren Eltern, die etwas mit ihren Kindern unternehmen wollen.
          <ul class="md-body-1">
              <li>Ob kurzfristig oder langfristig, Playdates finden ist jetzt ganz einfach! Schau nach, wann deine befreundeten Eltern Zeit haben, was sie vorschlagen oder du schlägst ganz einfach selbst was vor! So kannst du auch gemeinsame Ausflüge oder Urlaube planen.</li>
              <li>Ob Tipps oder Ideen für Playdates, kinderfreundliche Restaurants, Ausflugsziele oder Urlaube, sammle gute Empfehlungen deiner Freunde, so hast du immer viele Ideen, um mal was Neues auszuprobieren.</li>
          </ul>
          <p class="md-body-2">Kindrr ist eine App von Eltern für Eltern. Uns geht es darum mehr gute Zeit mit unseren Kindern und Freunden zu verbringen!</p>
          
          <md-snackbar :md-position="position" :md-active.sync="showSnackbar" md-persistent>
            <span>v0.2 2020 &copy; Sepp, Eve und Lenni</span>
          </md-snackbar>
        </md-content>
    </div>
</template>

<script>
import navigation from "@/components/NavBar.vue";
import firebase from "firebase";
import * as firebaseui from "firebaseui";
import "firebaseui/dist/firebaseui.css";

export default {
    name: "Login",
    data() {
        return {
            position: "center",
            showSnackbar: true,
        };
    },
    components: {
        navigation
    },
    mounted() {
        let ui = firebaseui.auth.AuthUI.getInstance();
        if (!ui) {
            ui = new firebaseui.auth.AuthUI(firebase.auth());
        }
        var uiConfig = {
            signInSuccessUrl: "/", // This redirect can be achived by route using callback.
            signInFlow: "popup",

            signInOptions: [
//                firebase.auth.FacebookAuthProvider.PROVIDER_ID,
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
//                firebase.auth.EmailAuthProvider.PROVIDER_ID,
//                firebase.auth.PhoneAuthProvider.PROVIDER_ID,
            ]
        };
        ui.start("#firebaseui-auth-container", uiConfig);
    }
};
</script>

<style>
</style>
