<template>
  <nav>
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="showNavigation = true">
        <md-icon>menu</md-icon>
      </md-button>
      <span class="md-title">Kindrr</span>

      <!--<div class="md-toolbar-section-end">
        <md-button @click="showSidepanel = true">...</md-button>
      </div>-->
    </md-toolbar>

    <md-drawer :md-active.sync="showNavigation" md-swipeable>
      <md-toolbar class="md-transparent" md-elevation="0">
        <span class="md-title">Elternratgeber</span>
      </md-toolbar>

      <md-list>
        <md-list-item v-if="user">
          <md-icon>child_care</md-icon>
          <router-link to="/" class="md-list-item-text">Playdates</router-link>
        </md-list-item>

        <md-list-item v-if="user">
          <md-icon>announcement</md-icon>
          <router-link to="/recommendations" class="md-list-item-text">Tipps</router-link>
        </md-list-item>

        <md-list-item v-if="user">
          <md-icon>group</md-icon>
          <router-link to="/friends" class="md-list-item-text">Freunde</router-link>
        </md-list-item>

        <md-list-item v-if="user">
          <md-icon>portrait</md-icon>
          <router-link to="/profile" class="md-list-item-text">Dein Profil</router-link>
        </md-list-item>
        
        <md-list-item v-if="user">
          <md-icon>exit_to_app</md-icon>
          <a class="md-list-item-text" @click="signoutButtonPressed">Ausloggen</a>
        </md-list-item>

        <md-list-item v-if="!user">
          <md-icon>how_to_reg</md-icon>
          <a class="md-list-item-text" href="/login">Einloggen</a>
        </md-list-item>

      </md-list>
    </md-drawer>

    <!--<md-drawer class="md-right" :md-active.sync="showSidepanel">
      <md-toolbar class="md-transparent" md-elevation="0">
        <span class="md-title">Favorites</span>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <span class="md-list-item-text">Abbey Christansen</span>

          <md-button class="md-icon-button md-list-action">
            <md-icon class="md-primary">chat_bubble</md-icon>
          </md-button>
        </md-list-item>

        <md-list-item>
          <span class="md-list-item-text">Alex Nelson</span>

          <md-button class="md-icon-button md-list-action">
            <md-icon class="md-primary">chat_bubble</md-icon>
          </md-button>
        </md-list-item>

        <md-list-item>
          <span class="md-list-item-text">Mary Johnson</span>

          <md-button class="md-icon-button md-list-action">
            <md-icon>chat_bubble</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-drawer>-->
  </nav>
</template>

<script>
import firebase from "firebase";
export default {
    data() {
        return {
            showNavigation: false,
            showSidepanel: false,
            user: null
        };
    },
    created() {
        firebase.auth().onAuthStateChanged(user => {
            this.user = user;
        });
    },
    methods: {
        signoutButtonPressed(e) {
            e.stopPropagation();
            firebase.auth().signOut();
            this.$router.push({ name: "Login" });
        }
    }
};
</script>

