<template>
    <div class="page-container md-layout-column">
        <navigation></navigation>
        
        <md-content>
            <h3 class="md-title center-align">Tipps</h3>
            <p class="md-caption">Hier findest du Tipps von befreundeten Eltern, was man Schönes mit Kindern unternehmen kann. Lass dich inspirieren oder inspiriere deine Freunde!</p>
            <md-card-content>
                <p @click="showDialog = true" class="md-subheading">Neuen Tipp eintragen <md-button class="md-accent md-raised" @click="showDialog = true"><md-icon>add</md-icon></md-button></p>
            </md-card-content>
          
            <md-dialog :md-active.sync="showDialog">
                <md-dialog-title>Was empfiehlst du?</md-dialog-title>
      
                <form class="md-layout md-alignment-top-center">
                    <md-field class="md-layout-item md-small-size-90">
                      <label for="new_recommendation">Ort/Titel</label>
                      <md-input id="new_recommendation" v-model="recommendation.title" value=""></md-input>
                      <span class="md-helper-text">Beispiel: Tierpark</span>
                    </md-field>
                    <md-field class="md-layout-item md-small-size-90">
                      <label for="details">Beschreibung</label>
                      <md-textarea name="details" v-model="recommendation.details" md-autogrow></md-textarea>
                    </md-field>
                    <md-field class="md-layout-item md-small-size-90">
                      <label for="website">Website</label>
                      <md-input id="website" v-model="recommendation.website" value=""></md-input>
                      <span class="md-helper-text">Beispiel: https://zoo.de</span>
                    </md-field>
                    <md-field class="md-layout-item md-small-size-90">
                      <label for="address">Adresse</label>
                      <md-input id="address" v-model="recommendation.address" value=""></md-input>
                      <span class="md-helper-text">Beispiel: Hauptstraße 1, 10999 Berlin</span>
                    </md-field>
                    <md-field class="md-layout-item md-small-size-90">
                      <label for="startDate">Datum</label>
                      <md-input id="startDate" v-model="recommendation.startDate" value=""></md-input>
                      <span class="md-helper-text">Beispiel: YYYYMMDD also 20201224 für Weihnachten</span>
                    </md-field>
      
                    <!--<md-progress-bar md-mode="indeterminate" v-if="sending" />-->
                </form>
          
                <md-dialog-actions>
                  <md-button class="md-accent md-raised" @click="addRecommendation">Eintragen</md-button>
                  <md-button class="md-primary" @click="showDialog = false">Abbrechen</md-button>
                </md-dialog-actions>
            </md-dialog>
            
            <p v-if="!recommendations.length">Nichts zu sehen? Keine Freunde oder einfach nichts los!? <a class="md-accent" href="/friends">Finde Freunde</a> oder trag etwas oben ein.</p>
            <div class="row" v-for="recommendation in recommendations" :key="recommendation.id">
              <md-card>
                <md-card-header>
                  <md-card-header-text>
                    <div class="md-title">{{recommendation.title}}</div>
                    <div class="md-subhead" v-if="recommendation.details">{{recommendation.details}}</div>
                  </md-card-header-text>
          
                  <md-card-media>
                    <md-avatar>
                    <img :src="recommendation.user.photoUrl" class="md-avatar-icon" />
                  </md-avatar><br />
                  <small>{{recommendation.user.name}}</small>
                  </md-card-media>
                </md-card-header>
          
                <md-card-actions>
                  <md-button v-if="recommendation.website" :href="recommendation.website"><md-icon>link</md-icon></md-button>
                  <md-button v-if="recommendation.calendarUrl" :href="recommendation.calendarUrl"><md-icon>calendar_today</md-icon></md-button>
                  <md-button v-if="recommendation.address" :href="'https://www.google.com/maps/search/?api=1&query=' + recommendation.address"><md-icon>location_on</md-icon></md-button>
                  <md-button v-if="recommendation.user.id == uid" @click="deleteRecommendation(recommendation.id)"><md-icon>delete_forever</md-icon></md-button>
                  <span v-if="recommendation.user.id != uid && recommendation.stars"><md-button v-if="recommendation.stars.includes(uid)" @click="unstarRecommendation(recommendation.id)"><md-icon>star</md-icon></md-button>
                  <md-button v-else @click="starRecommendation(recommendation.id)"><md-icon>star_border</md-icon></md-button></span>
                </md-card-actions>
              </md-card>
            </div>
        </md-content>

        <!--<div class="phone-viewport">
          <md-bottom-bar md-sync-route>
            <md-bottom-bar-item to="/" exact md-label="Playdates" md-icon="child_care"></md-bottom-bar-item>
            <md-bottom-bar-item to="/recommendations" md-label="Tipps" md-icon="announcement"></md-bottom-bar-item>
            <md-bottom-bar-item to="/friends" md-label="Freunde" md-icon="group"></md-bottom-bar-item>
            <md-bottom-bar-item to="/profile" md-label="Profil" md-icon="portrait"></md-bottom-bar-item>
          </md-bottom-bar>
        </div>-->
        
    </div>
</template>

<script>
import firebase from "firebase";
import navigation from "@/components/NavBar.vue";

export default {
    data() {
        return {
            recommendations: [],
            recommendation: {
              title: null,
              details: null,
              website: null,
              address: null,
              startDate: null,
              stars: [],
              user: {
                  name: "",
                  photoUrl: "",
                  id: "",
                }
            },
            uid: firebase.auth().currentUser.uid,
            showSnackbar: false,
            snackbarMessage: "",
            showDialog: false,
        };
    },
    methods:{
        getRecommendations() {
            var recommendationsRef = firebase.firestore().collection("recommendations").orderBy("createdDate", "desc");
            recommendationsRef.onSnapshot(snap => {
                this.recommendations = [];
                snap.forEach(doc => {
                    // doc.data() is never undefined for query doc snapshots
                    //console.log(doc.data());
                    var recommendation = doc.data();
                    recommendation.id = doc.id;
                    if (recommendation.startDate) {
                        recommendation.calendarUrl = "http://www.google.com/calendar/event?action=TEMPLATE&dates=" + recommendation.startDate + "T120000Z%2F" + recommendation.startDate + "T120000Z";
                        if (recommendation.title) {
                            recommendation.calendarUrl += "&text=" + recommendation.title;
                        }
                        if (recommendation.address) {
                            recommendation.calendarUrl += "&location=" + recommendation.address;
                        }
                        if (recommendation.details) {
                            recommendation.calendarUrl += "&details=" + recommendation.details;
                        }
                    }
                    this.recommendations.push(recommendation);
                });
            });
        },
        addRecommendation() {
            this.showDialog = false;
            firebase
                .firestore()
                .collection("recommendations")
                .add({
                    title: this.recommendation.title,
                    details: this.recommendation.details,
                    website: this.recommendation.website,
                    address: this.recommendation.address,
                    stars: [],
                    startDate: this.recommendation.startDate,
                    createdDate: new Date(),
                    user: {
                      id: firebase.auth().currentUser.uid,
                      name: firebase.auth().currentUser.displayName,
                      photoUrl: firebase.auth().currentUser.photoURL
                    },
                })
                .then(docRef => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Eintrag angelegt"
                    console.log("Document written with ID: ", docRef.id);
                })
                .catch(error => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Fehler beim Eintragen: " + error;
                    console.error("Error adding document: ", error);
                });
                
            this.recommendation.title = "";
            this.recommendation.details = "";
            this.recommendation.startDate = "";
            this.recommendation.website = "";
            this.recommendation.address = "";
        },
        deleteRecommendation(docId) {
            var item = firebase.firestore().collection("recommendations")
                .doc(docId)
                .delete().then(() => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Erfolgreich gelöscht";
                    console.log("Document successfully deleted!");
                }).catch(error => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Fehler beim Eintragen: " + error;
                    console.error("Error removing document: ", error);
                });
        },
        starRecommendation(docId) {
            var item = firebase.firestore().collection("recommendations")
                .doc(docId)
                .update({
                    stars: firebase.firestore.FieldValue.arrayUnion(firebase.auth().currentUser.uid)
                }).then(() => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Erfolgreich gemerkt";
                    console.log("Document successfully stared!");
                }).catch(error => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Fehler beim Eintragen: " + error;
                    console.error("Error staring document: ", error);
                });
        },
        unstarRecommendation(docId) {
            var item = firebase.firestore().collection("recommendations")
                .doc(docId)
                .update({
                    stars: firebase.firestore.FieldValue.arrayRemove(firebase.auth().currentUser.uid)
                }).then(() => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Erfolgreich entmerkt";
                    console.log("Document successfully unstared!");
                }).catch(error => {
                    this.showSnackbar = true;
                    this.snackbarMessage = "Fehler beim Eintragen: " + error;
                    console.error("Error unstaring document: ", error);
                });
        },
    },
    created() {
        this.getRecommendations();
    },
    components: {
        navigation
    }
  };
</script>

<style>
.collection.with-header {
    max-width: 500px;
    margin: 0 auto;
}
.phone-viewport {
    width: 322px;
    height: 200px;
    display: inline-flex;
    align-items: flex-end;
    overflow: hidden;
    border: 1px solid rgba(0,0,0, .26);
    background: rgba(0,0,0, .06);
  }
</style>